.context {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .col {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    .item {
      border: 1px solid black;
      width: 27px;
      height: 27px;
      text-align: center;

      &.blue {
        background-color: rgb(77, 77, 204);
      }

      &.red {
        background-color: rgb(204, 77, 94);
      }

      &.wall {
        background-color: black;
      }

      &.must {
        background-color: violet;
      }

      &.power {
        background-color: rgb(238, 238, 149);
      }

      .red_player {
        width: 25px;
        height: 25px;
        background-color: rgb(204, 77, 94);
        border: 1px solid red;
        border-radius: 50%;
      }

      .blue_player {
        width: 25px;
        height: 25px;
        background-color: rgb(77, 77, 204);
        border: 1px solid blue;
        border-radius: 50%;
      }
    }
  }
}

.select-color {
  border: 1px solid black;
  width: 27px;
  height: 27px;
  text-align: center;

  &.blue {
    background-color: rgb(77, 77, 204);
  }

  &.red {
    background-color: rgb(204, 77, 94);
  }

  &.wall {
    background-color: black;
  }

  &.must {
    background-color: violet;
  }

  &.power {
    background-color: rgb(238, 238, 149);
  }
}
